root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off

[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_property_naming_ignore_when_annotated_with = Composable
ktlint_code_style = android
ktlint_standard_property-naming = disabled
